.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #800020;
  background-image: url("https://wallpapers.com/images/hd/red-pc-1f20pfxfd1riqxxm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 40%;
  width: 400px;
  position: relative;
  transition: 0.5s;
}

.container_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 90%;
}
.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
  text-align: left;
  color: #111;
}

.form input {
  /* height: ;*/
  border: none;
  border-bottom: 1px solid #800020;
  background: transparent;
  padding: 1rem 0;
  width: 100%;
  
  font-family: "Roboto Slab", serif;
}
.form input::placeholder {
  color: #f8f8f2;
}
.form input:focus {
  /* height: ;*/
  outline: none;
}

.button {
  border: 1px solid #800020;
  background-color: #800020;
  color: #f8f8f2;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  padding: 1rem;
  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #f8f8f2;
  color: #800020;
}

.carregando {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255,0.8);
  position: absolute;
  z-index: 2;
  transition: .5s;
}

.error{
  background-color: rgb(189, 164, 164);
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Roboto Slab", serif;  
}