@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    color: black;
    font-family: "SN Pro", sans-serif;
    margin: 2rem 1rem;
    

}

.form .dadosIndividuais {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
    gap: 20px;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form div label {
    font-size: 1.2rem;
    
}

.form div input,select ,.form button {
    border-radius: 20px;
    border: none;
    height:35px; padding: 10px;
}